<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= image_tag 'login.png' %>
    </div>
    <div class="col-sm">
      <%= link_to image_tag("sign_in_with_google.png"), "/auth/google_oauth2" %>
    </div>
    <div class="col-sm">
      <%= link_to image_tag("https://i.imgur.com/UrSU22e.png"), twitter_login_path %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3">
    <table class="table">
      <%= form_for(:session, url: login_path) do |f| %>
        <tr>
          <td class="table-light"><%= f.label :email %></td>
          <td class="table-light"><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td class="table-light"><%= f.label :password %></td>
          <td class="table-light"><%= f.password_field :password %></td>
          <%= link_to "Forget your Password? (Click Here)", password_reset_path %>
        </tr>
        <tr class="action">
          <td class="table-light"><%= f.submit name="Login", class: "btn btn-primary" %></td>
          <td class="table-light"><small>Don't have an account with us? <%= link_to "Create an account", new_user_path %>.</small></td>
        </tr>
      <% end %>
    </div>
  </div>
</div>
